*
!/.github/
!/.github/**
!/README.md
!/MANIFEST.in
!/pyproject.toml
!/requirements.txt
!/runtests.py
!/setup.py
!/pyChakraCore/
!/pyChakraCore/**

# keep it under each dir
!.gitignore
!CHANGELOG.md
!LICENSE
!README_CN.*
!README_EN.*
# ignore it under each dir
.DS_Store
__pycache__
*.pyc
*.egg
*.egg-info
# ignore it under this dir
/dist
/build
/CHANGELOG.md
